.cuerpo {
    background-color: rgb(219, 209, 209);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding: 80px;
     text-align: center;

}

a{
    text-decoration: none;
    display: block;
    color: black ;
    text-align: center;
    padding: 20px, 20px;
    font-size: larger;
    width: 300px;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(108, 127, 145);
   
}
li{
    list-style-type:none;
    float: left;
    
}

#estaPagina{
    position: fixed;
}





